@model IEnumerable<Category>

	<nav class="menu">
	@foreach(var category in Model)
	{
		<a class="menu-link" href="@Url.Action("FilmsList","Films",new {categoryName=category.Name})">@category.Name</a>
	}
	</nav>