@model IEnumerable<Film>

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Tytuł filmu</th>
            <th>Reżyser</th>
            <th>Cena</th>
            <th>Edytuj</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var film in Model)
        {
            <tr>
                <td>@film.Title</td>
                <td>@film.Director</td>
                <td>@film.Price</td>
                <td><a href="@Url.Action("EditFilm", "Films", new { id=film.Id })" class="btn btn-primary">Edytuj</a></td>
                
            </tr>
        }
    </tbody>
</table>